version: '3.8'

services:
  postgres:
    image: 'postgres:14.4-alpine'
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "docker", "-U", "docker"]
      timeout: 45s
      interval: 10s
      retries: 10
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - STOCK_DB_USER=docker
      - STOCK_DB_PASSWORD=docker
      - STOCK_DB_NAME=stock
    volumes:
      - ./db:/docker-entrypoint-initdb.d/
    ports:
      - '5432:5432'

  stock:
    build: ./stock-system
    healthcheck:
      test: wget -q http://localhost:8080/actuator/health -O - | grep {\"status\":\"UP\"} || exit 1
      timeout: 20s
      interval: 10s
      retries: 10
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - '8080:8080'

  vue-app:
    build: ./vue-app
    healthcheck:
      test: wget -q http://localhost:3000 -O - | grep "<\!DOCTYPE html>" || exit 1
      timeout: 10s
      interval: 10s
      retries: 3
    depends_on:
      stock:
        condition: service_healthy
    ports:
      - '3000:3000'
